/**
 * @name Darkmode
 * @version 1.0.0
 * @author _thkonrad
 * @authorId 634038783020498944
 * @description A Smooth, Black theme
*/

@import url('https://raw.githubusercontent.com/TryHardKonrad/darkmode/refs/heads/main/base.css');

:root {
    --blurple-replace: #7289DA;
    --background-primary: rgb(29, 29, 29);
    --background-secondary: rgb(29, 29, 29);
    --background-floating: rgb(29, 29, 29);
    --background-secondary-alt: var(--background-floating);
    --background-tertiary: rgb(29, 29, 29);
    --background-accent: rgb(29, 29, 29);
    --userarea-background: var(--background-tertiary);
    --header-primary: rgb(240, 246, 252);
    --header-secondary: rgb(139, 148, 158);
    --elevation-low: 0 1px 0 rgba(40, 40, 50, 0.2), 0 1.5px 0 rgba(60, 60, 70, 0.05), 0 2px 0 rgba(40, 40, 50, 0.05);
    --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
    --channels-default: rgb(139, 148, 158);
    --channeltextarea-background: rgb(29, 29, 29);
    --voice-color: var(--brand-experiment);
    --guild-header-text-shadow: 0 1px 1px rgba(197, 197, 197, 0.4);
    --activity-card-background: #0f0f0f;
    --interactive-normal: rgb(139, 148, 158);
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: rgb(76, 82, 88);
    --background-modifier-hover: rgba(33, 38, 45, 0.26);
    --background-modifier-active: rgba(33, 38, 45, 0.44);
    --background-modifier-selected: rgba(33, 38, 45, 0.52);
    --background-modifier-accent: rgb(33, 38, 45);
    --text-link: rgb(88, 166, 255);
    --text-normal: rgb(201, 209, 217);
    --text-muted: rgb(139, 148, 158);
    --deprecated-panel-background: #2a2f29;
    --deprecated-card-bg: var(--background-secondary);
    --deprecated-card-editable-bg: var(--background-secondary);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3);
    --deprecated-text-input-bg: var(--channeltextarea-background);
    --deprecated-text-input-border: var(--border-color);
    --deprecated-text-input-border-hover: rgb(29, 29, 29);
    --deprecated-text-input-border-disabled: rgb(29, 29, 29);
    --deprecated-text-input-prefix: #dcddde;
    --background-accent-1: rgb(15, 15, 15, 0.1);
    --background-accent-3: rgb(15, 15, 15, 0.3);
    --background-floating-2: rgba(0, 0, 0, 0.2);
    --bg-overlay-2: rgb(29, 29, 29);
    --border-color: rgb(48, 54, 61);
    --blurple-border: 1px solid rgb(31, 47, 71);
    --divide-color: var(--brand-experiment);
    --brand-experiment: rgb(88, 101, 242);
    --deprecated-quickswitcher-input-background: var(--channeltextarea-background);
} 
